// .categories_block {
//     margin-left: -36px;
//     margin-top: 54px;

//     .category_block_item2 {
//         padding-top: 5px;
//     }

//     ul {
//         list-style: none;

//         .block_figure {
//             position: absolute;
//             width: 18px;
//             height: 18px;
//             border-radius: 4px;
//             border: 1px solid #808080;
//             margin-top: 22px;

//             cursor: pointer;
//     }

//       .block_figure2 {
//             position: absolute;
//             width: 18px;
//             height: 18px;
//             border-radius: 4px;
//             border: 1px solid #808080;
//             margin-top: 2px;
//             flex-shrink: 0;

//             cursor: pointer;
//     }

//         li {
//             margin-left: 35px;
//             margin-top: 20px;
//         }
//     }

//     .title_2 {
//         margin-top: -28px;
//     }
// }



.categories_block {
  margin-left: -36px;
  margin-top: 54px;

  .category_block_item, 
  .category_block_item2 {
    margin-top: -5px;
    
    ul {
      list-style: none;
      padding: 0;
      margin-top: 0;
    }
  }

  .block_figure, 
  .block_figure2 {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-right: 10px; // Отступ между галочкой и текстом
    cursor: pointer;
    position: relative; // Для позиционирования SVG внутри
    flex-shrink: 0; // Запрещаем сжатие
  }

  li {
    margin: 8px 3px; // Вертикальные отступы между пунктами
    display: flex;
    align-items: center;
  }

  .title_2 {
    margin-top: -28px;
  }
}
