.collection {

    .collection_body {
        display: flex;
        align-items: center;
        justify-content: center;
 
        .collection_logo {
            margin-top: 112px;
        }
    }
}