.navbar {

    .navbar_body {
        width: 1519px;
        height: 117px;
        
        .navbar_up {
            height: 35px;
            background: #b89571;

            position: relative;

            .navbar_up_logo {
                position: absolute;
                left: 0;
                top: 0;
                color: #ffffff;
                font-size: 13.5px;
                margin-left: 120px;
                margin-top: 8px;
            }
        }

        .contact_block {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: -6px;

            .phone_icon {
                width: 13px;
                height: 13px;
                margin-left: 1070px;
            }

            .phone_number {
                color: #ffffff;
                font-size: 14px;
                margin-left: 6px;
            }

            .line {
                height: 14px;
                border: 0.1px solid #ffffff;
                margin-left: 5px;
            }

            .message_icon {
                width: 16px;
                height: 14px;
                margin-left: 6px;
            }

            .email {
                color: #ffffff;
                font-size: 14px;
                margin-left: 4px;
                margin-top: -4px;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .navbar_down {
            height: 82px;
            background: #f4e5d7;

            .navigation_block {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 16px;
                margin-left: 330px;
                margin-top: -24px;

                .nav_item {
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .nav_item2 {
                    color: #000;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .nav_item3 {
                    width: 18px;
                    height: 18px;
                    margin-left: 10px;
                }

                .nav_item4 {
                    width: 18px;
                    height: 18px;
                    margin-left: 30px;
                }
            }
        }
    }
}