.aboutus {

    .about_body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .about_logo {
            margin-top: 112px;
        }

        .about_desc {
            margin-top: 30px;

            .desc_item {
                display: block;
                font-size: 18px;
                margin-top: 3px;
            }

            .video_ceramics {
                width: 620px;
                height: 348px;
                margin-top: 25px;
            }

            .about_ceramics {
                color: #636363;
                font-size: 14px;
                margin-top: 2px;
            }
        }
    }
}