.btn {
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: .33rem;
    cursor: pointer;

    &.default {
        color: #ffffff;
        background-color: #f47b50;
        transition: all 0.2s ease;

        &:hover {
            background: #a35235;
        }
    }

    &.primary {
        background: #258ffb;
    }

    &.size42 {
        width: 74px;
        height: 41px;
    }

    &.size70 {
        width: 70px;
        height: 22px;
    }

    &.size83 {
        width: 123px;
        height: 35px;
    }

    &.size91 {
        width: 123px;
        height: 41px;
    }

    &.size102 {
        width: 102px;
        height: 41px;
    }

    &.size113 {
        width: 113px;
        height: 22px;
    }

    &.size115 {
        width: 115px;
        height: 22px;
    }

    &.size131 {
        width: 131px;
        height: 41px;
    }

    &.size135 {
        width: 135px;
        height: 41px;
    }

    &.size169 {
        width: 169px;
        height: 22px;
    }

    &.size175 {
        width: 175px;
        height: 22px;
    }

    &.size201 {
        width: 201px;
        height: 41px;
    }

    &.size212 {
        width: 212px;
        height: 22px;
    }

}