.keramogranit {

    .keramogranit_body {

        margin-left: 120px;
        padding-top: 30px;
    }

    .sort {
        position: absolute;
        left: 0;
        top: 0;
        margin-left: 1225px;
        margin-top: 260px;
    }

    .block_cards {
        margin-top: 10px;
    }
}