.block {
    position: relative;
}

.cards_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 28px;
    margin-left: -852px;

    @media (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .ceramica_card_item {
        width: 233px;
        height: 410px;
        margin-top: 40px;

        .image {
            width: 233px;
            height: 233px;
            border-radius: 8px;
            border: 2px solid #d4bfaa;
            cursor: pointer;
        }

        .desc_txt {
            margin-top: 5px;
        }

        .desc_item {
            display: block;
            text-align: center;
            text-decoration: none;
            color: #000;
        }

        .price {
            color: #b5441b;
            font-weight: bold;
            text-align: center;
        }

        .btn {
            margin-left: 65.5px;
            margin-top: 5px;
        }
    }
}