.btn {

    &.default {
        background: #f47b50;
    }

    &.primary {
        background: #258ffb;
    }

    &.size42 {
        width: 42px;
        height: 22px;
    }

    &.size70 {
        width: 70px;
        height: 22px;
    }

    &.size83 {
        width: 83px;
        height: 22px;
    }

    &.size91 {
        width: 91px;
        height: 22px;
    }

    &.size113 {
        width: 113px;
        height: 22px;
    }

    &.size115 {
        width: 115px;
        height: 22px;
    }

    &.size135 {
        width: 135px;
        height: 22px;
    }

    &.size169 {
        width: 169px;
        height: 22px;
    }

    &.size175 {
        width: 175px;
        height: 22px;
    }

    &.size212 {
        width: 212px;
        height: 22px;
    }

}